.emphasis {
  border: 1px solid #A8E0EC;
  background-color: #E8F9FF;
  padding: 0 2px;
  border-radius: 2px;
}

.main__container {
  background: $color-main-background;
  height: 100%;
  min-height: 100%;
  [class*="main-"] {
    background-color: $color-section-background;
    padding: 0 12px;
    .heading__container {
      position: relative;
      height: 96px;
      text-align: center;
      margin-bottom: 64px;
      border-bottom: 4px solid $color-sectionHeading-border;
      h4 {
        position: absolute;
        width: 180px;
        bottom: -42px;
        left: 10%;
        z-index: 2;
      }
      .polygon__container {
        z-index: 1;
        @extend %polygon__container;
      }
    }
  }
}