.emphasis {
  border: 1px solid #A8E0EC;
  background-color: #E8F9FF;
  padding: 0 2px;
  border-radius: 2px;
}

.main__container {
  background: $color-main-background;
  height: 100%;
  min-height: 100%;
  padding-top: 172px;
  position: relative;
  [class*="main-"] {
    background-color: $color-section-background;
    padding: 0 12px 24px;
    z-index: 0;
    -webkit-transform: translateZ(172px);
    transform: translateZ(172px);
    -webkit-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    .heading__container {
      position: relative;
      height: 96px;
      text-align: center;
      margin-bottom: 64px;
      border-bottom: 4px solid $color-sectionHeading-border;
      .section-heading {
        position: absolute;
        width: 180px;
        bottom: -20px;
        left: 10%;
        z-index: 2;
        font-size: 2em;
        line-height: 1.25;
      }
      .polygon__container {
        z-index: 1;
        @extend %polygon__container;
      }
    }
  }
}