$color-projectArrow-hoverColor: #FF4978;

.projects__container {
  position: relative;
  width: 100%;
  height: 620px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: $color-sidebar-background;
  box-shadow: 0 0 3px 1px darken($color-sidebar-background, 50%);
  border-radius: 3px;
  .showLabels {
    position: absolute;
    top: .65em;
    left: 1.35em;
    z-index: 20;
    transition: visibility .5s, opacity .5s;
    // transition-delay: .6s;
    @media screen and (min-width: 760px) {
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      cursor: pointer;
      &:before {
        transition: color .6s, transform .6s;
        color: $color-projectArrow-hoverColor;
      }
    }
    &:before {
      content: '➲';
      display: block;
      font-size: 2.25em;
    }
  }
  input[type=checkbox] {
    display: none;
    &:checked {
      + .showLabels {
        &:before {
          transform: rotate(-180deg);
        }
      }
      ~ label:not(.showLabels) {
        margin-left: 0;
      }
    }
  }

  input[type=radio] {
    display: none;
  }
  > label:not(.showLabels) {
    box-shadow: 4px 2px 6px  darken($color-section-border, 5%);
    min-width: 200px;
    width: 20%;
    transition: background .3s;
    transition-timing-function: ease-in;
    height: 42px;
    font-size: .9em;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 12;
    transition: background .15s, width .25s, height .7s, font-size .5s, margin-left .6s;
    &:nth-of-type(odd) {
      background: $color-listDark-background;
      &:hover {
        background: darken($color-listDark-background,2%);
      }
    }
    &:nth-of-type(even) {
      background: $color-listLight-background;
      &:hover {
        background: darken($color-listLight-background,2%);
      }
    }
    &:nth-of-type(2) {
      border-radius: 0 3px 0 0;
      margin-top: 48px;
    }
    &:last-of-type {
      border-radius: 0 0 3px 0;
      margin-bottom: 108px;
    }
    &:hover {
      cursor: pointer;
      width: 206px;
      border-radius: 0 3px 3px 0;
    }
    @media screen and (max-width: 760px) {
      margin-left: -232px;
    }
  }
  > input[type=radio]:checked + label {
    border-top: 4px solid $color-section-border;
    border-right: 4px solid $color-section-border;
    border-bottom: 4px solid $color-section-border;
    width: 220px;
    border-radius: 0 4px 4px 0;
    font-size: 1em;
    box-shadow: none;
    & + .c-carousel__container {
      display: block;
      .c-carousel {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .c-carousel__container {
    display: none;
    position: absolute;
    width: calc(100% - 232px);
    transform: translate(216px, 0);
    border: 4px solid $color-section-border;
    border-radius: 4px;
    left: 0;
    background: linear-gradient(to top, desaturate($color-sidebar-background, 16%), saturate($color-sidebar-background, 28%));
    @media screen and (max-width: 760px) {
      width: calc(100% - 32px);
      left: 16px;
      transform: translate(0,0);
    }
    .c-carousel {
      visibility: hidden;
      opacity: 0;
      position: relative;
      max-width: 90%;
      padding: 0 5%;
      margin: 0 auto;
      text-align: left;
      border: 1px solid $color-section-border;
      background: linear-gradient(to top, desaturate($color-section-background, 8%), saturate($color-section-background, 14%));
      // min-height: 17.5em;
      height: 22em;
      margin-top: 2.4em;
      border-radius: 3px;
      transition: visibility .7s, opacity .5s;
      &:before {
        position: absolute;
        content: attr(data-title);
        font-size: 1.5em;
        top: -1.5em;
        margin-left: 10%;
        @extend %headingDefaults;
      }
      > input[type=radio]:checked {
        + .c-carousel__slide {
          visibility: visible;
          opacity: 1;
          pointer-events: auto;
        }
      }
      .c-carousel__slide {
        position: relative;
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: inherit;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: visibility .7s, opacity .7s;
        &:first-of-type {
          p {
            text-align: center;
            margin: 18% 2em 0 1em;
            font-size: 1.5em;
            
          }
        }
        .c-carousel__slide--next,
        .c-carousel__slide--previous {
          position: absolute;
          font-size: 1.8em;
          top: 5.6em;
          transition: color .6s;
          &:hover {
            cursor: pointer;
            color: $color-projectArrow-hoverColor;
          }
          
        }
        .c-carousel__slide--next {
          right: -1em;
        }
        .c-carousel__slide--previous {
          left: -1em;
        }
        img {
          padding: 8px;
          height: 22em;
        }
      }
      .c-carousel__pagination {
        position: absolute;
        width: 90%;
        bottom: -2.2em;
        text-align: center;
        margin: 0 auto;
        label {
          font-size: 1.5em;
          margin: 0 8px;
          color: $color-primaryBtn-background;
          @media screen and(max-width: 600px) {
            margin: 0 4px;
          }
        }
      }
      .slide-1__radio:checked ~ .c-carousel__pagination .page1,
      .slide-2__radio:checked ~ .c-carousel__pagination .page2,
      .slide-3__radio:checked ~ .c-carousel__pagination .page3,
      .slide-4__radio:checked ~ .c-carousel__pagination .page4,
      .slide-5__radio:checked ~ .c-carousel__pagination .page5,
      .slide-6__radio:checked ~ .c-carousel__pagination .page6,
      .slide-7__radio:checked ~ .c-carousel__pagination .page7,
      .slide-8__radio:checked ~ .c-carousel__pagination .page8    {
        color: $color-active-background;
      }
    }
    .c-carousel__subheading {
      margin: 2.6em 0 0 1.8em;
    }
    p {
      margin: 1.2em 1.8em 1em;
      color: lighten($color-mainText-fontColor, 1%);
    }
    .site-link,
    .github-link {
      margin-bottom: 1.5em;
      &:hover {
        color: darken($color-headLink-background, 12%);
      }
    }
    .site-link {
      margin-left: 1.8em;
      color: darken($color-primaryBtn-fontColor,3%);
    }
    .github-link {
      margin-left: 2.5em;
      color: lighten($color-mainText-fontColor, 3%);
      position: relative;
      &:before {
        position: absolute;
        left: -18px;
        top: -4px;
        font-family: fontawesome;
        content: '\f09b';
      }
    }

  }
  
}