<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>BlakeSandes Portfolio</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
  <!-- <script src="https://use.fontawesome.com/b5e330f3a1.js"></script> -->
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div id="main-container" class="main-container">
    <header class="main__header">
      <nav class="nav__container" role="navigation">

        <div class="nav__logoContainer">
          <div class="rotate__container nav__logo">
            <div class="btn-rotate45-lg btn-primary tabindex="1"></div>
            <div class="triangle__container">
              <div class="topTriContainer">
                <svg viewBox="0 0 190 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                  <polygon id="Top-Search-Triangle" points="95 0 190 6 0 6"></polygon>
                </svg>
              </div>
              <a href="#" class="btn-active spiral__addOn nav__logoName" role="button">
                <em>B</em><em>L</em><em>A</em><em>K</em><em>E</em>
                <span class="space"></span>
                <em>W</em><em>I</em><em>L</em><em>S</em><em>O</em><em>N</em>
              </a>
              <div class="bottomTriContainer">
                <svg viewBox="0 0 190 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs></defs>
                  <polygon id="Triangle" transform="translate(95.000000, 4.000000) scale(1, -1) translate(-95.000000, -4.000000) " points="95 0 190 8 0 8"></polygon>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <ul class="nav">
          <li class="nav__item">
            <div class="rotate__container">
              <a href="#!" class="btn-rotate45-md btn-primary" role="button"><span>About</span></a>
            </div>
          </li>
          <li class="nav__item selected">
            <div class="rotate__container">
              <a href="#!" class="btn-rotate45-md btn-primary" role="button"><span>Projects</span></a>
            </div>
          </li>
          <li class="nav__item">
            <div class="rotate__container">
              <a href="#!" class="btn-rotate45-md btn-primary" role="button"><span>Skills</span></a>
            </div>
          </li>
          <li class="nav__item">
            <div class="rotate__container">
              <a href="#!" class="btn-rotate45-md btn-primary" role="button"><span>Articles</span></a>
            </div>
          </li>
          <li class="nav__item">
            <div class="rotate__container">
              <a href="#!" class="btn-rotate45-md btn-primary" role="button"><span>Contact</span></a>
            </div>
          </li>
        </ul>

        <div class="pivotDropdown__container nav__mobile">

          <input type="checkbox" id="pivotDown" name="pivot" class="pivotDown--radio">
          
          <div class="rotate__container pivot__controls  pivot--controlRtSide">
            <button class="btn-primary btn-rotate45-sm">
              <label for="pivotDown" class="pivotDown">⭅</label>
              <span  class="pivotUp">⤧</span>
            </button>
          </div>

          <ul class="groupList pivot__groupList pivot__rtAction">
            <li class="selected"><a href="#!" class="groupList__link">About</a></li>
            <li><a href="#!" class="groupList__link">Projects</a></li>
            <li><a href="#!" class="groupList__link">Skills</a></li>
            <li><a href="#!" class="groupList__link">Articles</a></li>
            <li><a href="#!" class="groupList__link">Contact</a></li>
            <li><div class="input__outerContainer nav__searchContainer">
              <label for="search" class="input__label"></label>
              <div class="input__container input--md">
                <div class="topTriContainer">
                  <svg viewBox="0 0 190 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <polygon id="Top-Search-Triangle" points="95 0 190 6 0 6"></polygon>
                  </svg>
                </div>
                <input type="search" class="input__control nav__searchInput btn-primary" placeholder="Search" id="search">
                <div class="bottomTriContainer">
                  <svg viewBox="0 0 190 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <polygon id="Triangle" transform="translate(95.000000, 4.000000) scale(1, -1) translate(-95.000000, -4.000000) " points="95 0 190 8 0 8"></polygon>
                  </svg>
                </div>
                <div class="rotate__container searchBtn__container">
                  <button class="btn-rotate45-xs btn-secondary searchBtn"><span class="fa fa-search"></span></button>
                </div>
              </div>
            </div></li>
          </ul>
        </div>

        <div class="input__outerContainer nav__searchContainer">
          <label for="search" class="input__label"></label>
          <div class="input__container input--md">
            <div class="topTriContainer">
              <svg viewBox="0 0 190 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <polygon id="Top-Search-Triangle" points="95 0 190 6 0 6"></polygon>
              </svg>
            </div>
            <input type="search" class="input__control nav__searchInput btn-primary" placeholder="Search" id="search">
            <div class="bottomTriContainer">
              <svg viewBox="0 0 190 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <polygon id="Triangle" transform="translate(95.000000, 4.000000) scale(1, -1) translate(-95.000000, -4.000000) " points="95 0 190 8 0 8"></polygon>
              </svg>
            </div>
            <div class="rotate__container searchBtn__container">
              <button class="btn-rotate45-xs btn-secondary searchBtn"><span class="fa fa-search"></span></button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="main__container">
      <section id="main-" class="main-about">
        <article class="heading__container">
          <h1 class="section-heading">Group Lists</h1>
          <svg class="polygon__container"  width="200px" height="120px" viewBox="0 0 200 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <polygon id="Polygon" fill="#6AC6EF" points="100 0 200 60 100 120 0 60"></polygon>
          </svg>
        </article>
      </section>
      <section id="ui-component-groupLists" class="ui-element-main">

        <h1">Group Lists</h1>
        <p class="main-element-description">The Group List component is an effective and flexible way to display a group of list elements. You can create anything from simple list items to more complex feature rich list groups.</p>

        <div>
          <h3>Basic Group List</h3>
          <p>A basic group of list items show on many websites</p>
          <ul class="groupList">
            <li class="groupList__item">Bubbles</li>
            <li class="groupList__item">Giggles</li>
            <li class="groupList__item">Pickles</li>
            <li class="groupList__item">Speckles</li>
            <li class="groupList__item">Freckles</li>
          </ul>
        </div>
        
        <div>
          <h3>Anchored Group List</h3>
          <p>The group list can be composed as links if need be. The only change is replacing the <em class="tagEmphasis">ul</em> tags with a <em class="tagEmphasis">div</em> and the <em class="tagEmphasis">li</em> tags with the <em class="tagEmphasis">anchor</em> tag.</p>

          <div class="groupList">
            <a href="#!" class="groupList__link">Bubbles</a>
            <a href="#!" class="groupList__link">Giggles</a>
            <a href="#!" class="groupList__link active">Pickles</a>
            <a href="#!" class="groupList__link">Speckles</a>
            <a href="#!" class="groupList__link">Freckles</a>
          </div>
        </div>

        <div>
          <h3>Heading</h3>
          <p>If a heading is needed for the group list</p>

          <!-- UI-Element is to go below -->
          <!-- Whatever the UI-Element is, give it a class of .ui-element -->
          <ul class="groupList header--included">
            <li class="groupList__header groupList__item">
              <h2>Heading</h2>
            </li>
            <li class="groupList__item">Bubbles</li>
            <li class="groupList__item">Giggles</li>
            <li class="groupList__item">Pickles</li>
            <li class="groupList__item">Speckles</li>
            <li class="groupList__item">Freckles</li>
          </ul>
        </div>

        <div>
          <h3>Secondary Content</h3>
          <p>If a header is required with list items and a icon to display additional content in the same list item.</p>

          <!-- UI-Element is to go below -->
          <!-- Whatever the UI-Element is, give it a class of .ui-element -->
          <ul class="groupList header--included">
            <li class="groupList__header groupList__item">
              <h2>Heading</h2>
            </li>
            <li class="groupList__item">Bubbles <span class="badge"></span><div class="groupList__item secondary__item">Bubble bathes, bubbles in the park, snot bubbles from laughing!</div></li>
            <li class="groupList__item">Giggles <span class="badge"></span><div class="groupList__item secondary__item">It's all shits and giggles over here!</div></li>
            <li class="groupList__item">Pickles <span class="badge"></span><div class="groupList__item secondary__item">Pickles on a burger trascends space and time!</div></li>
            <li class="groupList__item">Speckles <span class="badge"></span><div class="groupList__item secondary__item">A speckle of light will drown out the largest of fright!</div></li>
            <li class="groupList__item">Freckles <span class="badge"></span><div class="groupList__item secondary__item">If I had more freckles, then, just maybe then I would be true Irish!</div></li>
          </ul>
        </div>

        <div>
          <h3>Detailed Lists</h3>
          <p>Avatar icons with detailed list and secondary content.</p>

          <ul class="groupList">
            <li class="groupList__item detailed__item">
              <span class="detail__image">❅</span>
              <span class="title">Bubbles</span>
              <p class="details">Rainbow Bubbles</p>
              <p class="details">Babbling bubbles</p>
              <span class="badge"></span>
              <div class="secondary__details secondary__item">Yah so what, I love bubbles! Bubble bathes, bubbles in the park, snot bubbles from laughing!</div>
            </li>
            <li class="groupList__item detailed__item">
              <span class="detail__image">&#x2741;</span>
              <span class="title">Giggles</span>
              <p class="details">Rainbow Giggles</p>
              <p class="details">Babbling Giggles</p>
              <span class="badge"></span>
              <div class="secondary__details secondary__item">It's all shits and giggles over here!</div>
            </li>
            <li class="groupList__item detailed__item"> 
              <span class="detail__image">&#x2742;</span>
              <span class="title">Pickles</span>
              <p class="details">Rainbow Pickles</p>
              <p class="details">Babbling Pickles</p>
              <span class="badge"></span>
              <div class="secondary__details secondary__item">Pickles on a burger trascends space and time!</div>
            </li>
            <li class="groupList__item detailed__item">
              <span class="detail__image">&#x2725;</span>
              <span class="title">Speckles</span>
              <p class="details">Rainbow Speckles</p>
              <p class="details">Babbling Speckles</p>
              <span class="badge"></span>
              <div class="secondary__details secondary__item">A speckle of light will drown out the largest of fright!</div>
            </li>
            <li class="groupList__item detailed__item">
              <span class="detail__image">&#x273e;</span>
              <span class="title">Freckles</span>
              <p class="details">Rainbow Freckles</p>
              <p class="details">Babbling Freckles</p>
              <span class="badge"></span>
              <div class="secondary__details secondary__item">If I had more freckles, then, just maybe then I would be true Irish!</div>
            </li>
          </ul>
        </div>
      </section>
    </main>
    <footer>
      
    </footer>
  </div>
</body>
</html>


